src/
.storybook/
coverage/
stories/
storybook/
Minimalist-Logo.png
react-native-minimalist.png
yarn.lock
*.test.js
jestsetup.js
.travis.yml
.eslintrc
.all-contributorsrc
.babelrc
.prettierrc
webpack.config.js